.counter-container{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px lightgrey;
    margin: 10px;
    background-color: white;
}
.counter-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 220px;
    min-height: 160px;
    width: 220px;
    height: 160px;
}
.btn{
    margin:10px;
}