<div class="counter-container">
    <div class="add-counter">
        <h3>Lisää laskuri</h3>
        <form (ngSubmit)="onSubmit()" #counterForm="ngForm" class="counter-form">
            <div class="form-group">
              <label for="name">Laji: </label>
              <input type="text" class="form-control" id="species" [(ngModel)]="model.species" name="species" required>
            </div>
            <button type="submit" class="btn btn-success">Lisää</button>
        </form>
    </div>
    <ng-container *ngIf="counters">
        <app-counter *ngFor="let counter of counters | reverse; index as i;" [counter]="counter" (addToCounter)="add($event)"></app-counter>
    </ng-container>
</div>
